.nxp img{
    height: 245px;
}
.nxpsl{
    height: 491px;
}
.nxp_top10 img{
    height: 250px;
}
.nxp_is_category img{
    height: 220px;
}
.all_article_nxp img{
    max-height: 340px;
    min-height: 300px;
}
